.bin-header {
    display: flex;
    height: 60px;
    width: 100%;
    color: white;
    justify-content: center;
    margin-top: 5px; 
}

.bin-crumb {
    height: 60px;
    width: 21%;
    background: #D34735;
    color: white;
    padding-top: 1px;
    padding-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
}

.bin-crumb h2 {
    margin: 0;
    margin-top: 6px;
}

.bin-number {
 background: #ED6B5A;   
 height: 76px;
 width: 65%;
}

.bin-number h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
    font-weight: 700;
    text-align: left;
    margin: 0;
    margin-top: 10px;
    margin-left: 10px;
}

.image-container {
    margin-top: 50px;
    margin-left: 50px;
    float: left;
}

.edit-container {
    margin-top: 50px;
    margin-right: 200px;
}

.save-btn {
    width: 200px;
    height: 60px;
    background: #40F99B;
    border: none;
    border-radius: 50px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: 700;
    font-size: 30px;
    margin-top: 10px;
    margin-right: 50px;
}

.edit-container h2{
    position: relative;
    right: 215px;
    margin-bottom: 5px;
}

.edit-btn {
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: 700;
    font-size: 30px;
    margin-top: 10px;
    margin-right: 50px;
}

.delete-btn {
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: 700;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 50px;
}




